.container1 {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }

.contact-form .contact-form-style input, .contact-form .contact-form-style textarea {
    background: transparent;
    border: 1px solid #c1c1c1;
    color: #000;
    height: 40px;
    margin-bottom: 30px;
    padding: 2px 14px;
}
.contact-form .contact-form-style textarea {
    height: 175px;
    margin-bottom: 0;
    padding: 20px 14px;
}
 button {
    background-color: #404040;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin-top: 38px;
    padding: 15px 52px;
    text-transform: uppercase;
        
}
button:hover {
    background-color: #531516;
}
[type=button]:not(:disabled),button:not(:disabled) {
    cursor: pointer;
}
button {
    transition: all .3s ease 0s;
}